In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('dataset.csv')

In [3]:
df.head()

   id  grade  math  physics  english  arabic   art  essay  social-study  sport
0   1      7  18.0     15.0     16.0    15.0  20.0   20.0          19.0     17
1   2      7  15.0     18.0     14.0    12.0  16.0   13.0          16.0     18
2   3      7  20.0     20.0     15.0    12.0  18.0   19.0          16.0     20
3   4      7  10.0     12.0     14.0    16.0  17.0   20.0          19.0     18
4   5      7  15.5     17.5     20.0    16.0  20.0   20.0          20.0     20